// === @import === //
    @import "../util/variable";
    @import "../util/mixin";
    @import "../util/fonction";

    @import "../component/component";
// === end: @import === //



// === general marker === //
    *
    {
        box-sizing: border-box;

        padding: 0px;
        margin: 0px;

        font-family: serif;
        color: $text-color-1;
    }

    html
    {
        width: max(100%, 360px);

        font-size: 1em;

        display: flex;
        justify-content: center;
    }

    body
    {
        width: 100%;
        min-height: 100vh;

        padding: $padding-large $padding-large 0px $padding-large;

        background-color: $background-color-1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    main
    {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        flex-grow: 1;
    }
// === end: general marker === //

// === class === //
    .pictogram
    {
        &-medium
        {
            width: $pictogram-medium-width;
            height: $pictogram-medium-height;
        }

        &-large
        {
            width: $pictogram-large-width;
            height: $pictogram-large-height;
        }
    }
// === end: class === //