// === border radius === //
    $border-radius-small: 8px;
    $border-radius-medium: 16px;
// === end: border radius === //

// === breakpoint === //
    $breakpoint-mobil: 600px;
// === end: breakpoint === //

// === color === //
    $color-1: #E68B08;
    $color-2: #8F5BFE;
    $color-3: #261624;
    $color-4: #F3E9F1;
    $color-5: #101010;
    $color-6: #3CDC50;
    $color-7: #791010;



    $background-color-1: $color-5;
    $background-color-2: $color-4;

    $text-color-1: $color-5;
    $text-color-2: $color-2;
// === end: color === //

// === padding & margin === //
    $padding-small: 5px;
    $padding-medium: 10px;
    $padding-large: 20px;

    $margin-small: 5px;
    $margin-medium: 10px;
    $margin-large: 20px;
// === end: padding & margin === //

// === size === //
    $card-width-max: 360px;

    $pictogram-medium-width: 24px;
    $pictogram-medium-height: 24px;
    $pictogram-large-width: 36px;
    $pictogram-large-height: 36px;

    $website-emblem-width: 80px;
    $website-width-max: 1510px;
// === end: size === //