// === @import === //
    @import "../util/variable";
    @import "../util/mixin";
    @import "../util/fonction";
// === end: @import === //



// === footer === //
    footer
    {
        width: calc(100% + 2 * #{$padding-large});

        padding: $padding-medium $padding-large;
        margin-left: calc(0 - #{$padding-large});

        background-color: $background-color-2;

        display: flex;
        flex-direction: row;
        justify-content: center;



        a
        {
            font-weight: bold;

            text-decoration: none;
        }
    }
// === end: footer === //